@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin centro-elemento {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


//MEDIA QUERY MANAGER

/*  0 - 768px = smartphones
    768px - 992px = tablets
    992px - 1200px = tsblet landscape
    1200px - 1800px + = Desktop;
    1800px + = Telas Grandes;


    $breakpoint argument choices
    - phone
    - tablet
    - tab-landscape
    - desktop   */
    
//ORDEM: Começa com Base + Tipografia > layout  geral + grid > layout da página > componentes.

// 1em = 16px

@mixin respond ($breakpoint)  {
    @if $breakpoint == phone {
        @media only screen and (max-width: 48em) {@content};
    }
    @if $breakpoint == tablet {
        @media only screen and (max-width: 62em) {@content};
    }
    @if $breakpoint == tab-landscape {
        @media only screen and (max-width: 75em) {@content};
    }
    @if $breakpoint == desktop {
        @media only screen and (min-width: 112.5em) {@content};
    }
}

//por algum motivo rem não funciona tão bem com MediaQuery por isso no lugar usou-se o em;