//CORES
$verde-claro:#7ed56f;
$verde-medio:#55c57a;
$verde-escuro:#28b485;

$laranja-claro: #ffb900;
$laranja-escuro: #ff7730;

$azul-claro: #2998ff;
$azul-escuro:#5643fa;

$cinza-claro-1: #f7f7f7;
$cinza-claro-2: #eee;

$cinza: #777;
$cinza-escuro-2:#999;
$cinza-escuro-3:#333;

$branco: #fff;
$preto: #000;

//FORMATAÇÃO DE TEXTO
$fonte-padrao: 1.6rem;

//GRID
$largura-grid: 114rem;
$gutter-vertical:8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal:6rem;


