.footer{
    background-color:$cinza-escuro-3; 
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $cinza-claro-1;

   &__logo-box{
    text-align: center; //posso fazer isso pq uma img é um inline-elemento.
    margin: 8rem;
   }

   &__logo{
    width: 15rem;
    height: auto;
   }

   &__navigation{ //Aqui onde criamos a linha cinza.
    border-top: 1px solid $cinza;
    padding-top: 2rem;
    //criei uma div, deixei ela invisível, exceto a borda superior, e cria esse efeito legal de linha. 
    display: inline-block; //fiz isso por que um inline-bloco não ocupa 100% da sua largura disponível, apenas a quantidade que o conteúde necessita. Dessa forma a "linha" termina exatamente onde o ultimo elemento da div termina. 
   }

   &__list{
    list-style: none;
   }

   &__item{
    display: inline-block;

    &:not(:last-child){
        margin-right:1.5rem;
    }
   }

   &__link{
    transition:all .4s;
    &:link, &:visited{
        color: $cinza-claro-1;
        background-color:$cinza-escuro-3;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
    }

    &:hover, &:active{
        color: $verde-medio;
        box-shadow: 0 1 rem 2rem rgba($preto, 1.4);
        transform: rotate(5deg) scale(1.3);
        
    }
   }

   &__copyright{
    border-top: 1px solid $cinza;
    padding-top: 2rem;
    width: 80%;
    float: left;
   }
}